<ion-view>

    <ion-header-bar class="bar-balanced">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
        </div>
        <h1 class="title">Tabela</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-ios-refresh-outline" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
        </div>
    </ion-header-bar>
    
    

    <ion-content>
     Olá
        
        
    </ion-content>
</ion-view>