<ion-tabs class="tabs-icon-top tabs-positive ">
  
    <!--ion-trophy-->
    <ion-tab title="Tabela" icon-off="ion-trophy" icon-on="ion-trophy" href="#/tab/tab/tabela">
        <ion-nav-view name="tab-tabela"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Rodadas" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/tab/rodada">
        <ion-nav-view name="tab-rodada"></ion-nav-view>
    </ion-tab>
    
    
    <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
